@import "./css-reset-jc.css";

@font-face {
    font-family: "SolanaAtelier";
    src: url("../assets/fonts/solana-atelier.ttf") format("truetype");
}

:root {
    --color-primary: #FFFAFA;
    --color-secondary: #C84A46;

    --margin-top-main: 40px;
}
