@import "./css-reset-jc.css";

@font-face {
    font-family: "SolanaAtelier";
    src: url("../assets/fonts/solana-atelier.ttf") format("truetype");
}

:root {
    --color-primary: #FFFAFA;
    --color-secondary: #C84A46;
    --color-accent: #505050;

    --margin-top-main: 40px;
}

html {
    overflow-x: hidden;
}

#app {
    background-color: rgb(219, 219, 219);
    width: 100dvw;
    min-height: 50dvh;
    display: flex;
}

.page {
    width: 100%;
    display: flex;
}